extends layout
include mixins

append config
  - 
    css.push("/css/shelf.css");

block content
  #shelf-header.section.padded-5.white.shad-subtle
    .center-wrapper.narrow
      #shelf-title.pre-animation= shelfTitle
      
  #shelf-wrapper
    #shelf-center
      each book in books
        span.book.pre-animation
          a(href=shelfUrl + book.id)
            .preview(style=`background-image: url(${book.cover.thumb})`)
              img.ratio(src="/img/elements/ratios/77x100.png")
            .name= book.name
