extends ../template/shelf
include ../template/mixins

prepend config
  - title = "Lookbook";

append config
  - 
    headerClass = "white bg-gray min";
    activeNav = "Matter";
    shelfTitle = "Lookbooks";
    shelfUrl = "/matter/lookbook/";
