extends ../template/shelf
include ../template/mixins

prepend config
  - title = "Campaign";

append config
  - 
    headerClass = "white bg-gray min";
    activeNav = "Matter";
    shelfTitle = "Campaigns";
    shelfUrl = "/matter/campaign/";
